
@import 'semantic';
@import 'add-to-homescreen';

/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Montserrat', sans-serif; */

/* My Styles  */

body {
    margin: 0;
    padding:0;
    background-color: black;
    position: relative;
    color: white;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}
p { margin: auto;
    width: 70%;
    max-width: 600px;
}

.sidenav {
  
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: orangered;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 90px;
}

.navispan {
    padding: 20px;
    position: fixed;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



h1 {color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size-adjust: auto;
    margin-top: 0;
    padding: 15% 5% 5% 5%;
    text-align: center;
}

#introphrase {font-size: 8vmin;
padding:20% 5% 10% 5%;
margin-top: 0;}
.bold {font-weight: 500;
text-align: right;}

/*Intro section */
#bgvid {position: fixed;
    z-index: -100;
 background: no-repeat;
    
    
}

video {
    object-fit: fill;
    width: 100%;
    
}

#important {color: orangered;
 font-size: 6vw;
font-weight: 600;
font-family: oswald;
    margin-bottom: 26px;

}
.bgcover2 {background-image: linear-gradient(0deg,rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
    padding: 70px 10px 70px 10px; }
#sec-2 {
  
margin-bottom:-20px;
position: relative;

    max-width: 1000px;
margin:auto;
padding: 42px;}

#sec-2 img {margin: 0;
    margin-bottom: -100px;
}

.heck {
    background-color: darkslategrey;;
}
#sec-3 {
    background-color: whitesmoke;
    color: black;
    padding-bottom: 250px;
    padding-top: 150px;
    margin-bottom: -30px;
}
#sec-3 h1{color:darkslategrey; font-weight: 600;}


/* Box hovering */
.responsive-image p { color: green;}

/*sizing stuff */

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 0rem;
 
}

.responsive-image {
  max-width: 100%;
    
}
.cell img {
  display: block;
}





/*Serious image hovers*/

.hovercover{
    width:100%;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    
  }
  
  .hovercover img{
    width:100%;
    height:100%;
    transition:.3s;
    object-fit: cover;

  }
  
  .hovercover:hover img{
    filter:blur(4px) brightness(70%);
    box-shadow:0 0 0px ;
  }
   
  .hovercover :not(img){
    position:absolute;
    z-index:1;
    top:20%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
  
  .hovercover h3{
    top:35%;
        font-size: .9em;
      padding:10px;
  }
  
  .hovercover:hover :not(img){
    opacity:1;
  }




.crew-grid {
    max-width: 80%;
margin: auto;
padding-top: 90px}

.crew {background-color: darkcyan;}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
      background-color: black;
  }
     #important {font-size: 32px;
    }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 2);
  }
    
    .crew-grid {width: 88%;
    max-width:900px;
margin: auto;}
     #important {font-size: 32px;
    }
    
   
}

@media screen and (max-width: 720px) {
    
    video {
        object-fit:contain;
        width: 100%;
        
       margin: 0 auto;
    }
}

footer {
    height: 100px;
    background-image: linear-gradient(45deg, darkred , orangered);
    overflow:hidden;
}
footer p {
    padding: 20px;
    text-decoration-line: underline overline;
    width:100%;
}